<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configuration>
    <packageSources>
      <clear />
      <add key="github" value="https://nuget.pkg.github.com/sharp-point-data/index.json" />
    </packageSources>
    <packageSourceCredentials>
      <github>
        <add key="Username" value="MichaelYabko" />
        <add key="ClearTextPassword" value="df5e049d9829e5a6feb1a67d612b640b37bbe16b" />
      </github>
    </packageSourceCredentials>
  </configuration>
</configuration>